body{background-color:antiquewhite;
}

nav{
    background-color: sandybrown;
     color: black; 
     text-align: center;
     font-size: 1.3em;
     direction:ltr;
     height: 64px;
     
}

a:link{
    text-decoration: none;
    margin-right:30px;
    position:relative;
    
    
}
nav li{
    text-align: right; 
     font-size: 1em; 
     direction: rtl;
     text-indent: 1em;
    list-style-type: none;
    
    
}

.lefty{
    text-align: left;
}